{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Upload a New File {% endblock %}</h1>

<form method="post" enctype="multipart/form-data" action="{{ url_for('file.upload') }}">
    {{ form.csrf_token }}

    <div class="form-group">
      <label for="amount">File</label>
      {{ form.photo(class="form-control")  }}
      <small id="photoHelp" class="form-text text-muted">Photo</small>
    </div>

    <div class="form-group">
      <label for="amount">Visits Allowed</label>
      {{ form.visits_allowed(size=20, class="form-control")  }}
      <small id="allowedVisitsHelp" class="form-text text-muted">The number of times someone is allowed to click link.</small>
    </div>

    <div class="form-group">
      <label for="amount">Comment</label>
      {{ form.comment(size=256, class="form-control")  }}
      <small id="commentHelp" class="form-text text-muted">Additional information about this link.</small>
    </div>

    <input type="submit" class="btn btn-primary" value="Upload">
    <a href="{{url_for('link.index')}}" class="btn btn-primary" role="button">Cancel</a>
</form>
{% endblock %}
