{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Links {% endblock %}</h1>

    <ol>
        {% for link in links %}
        <li>
            <a href="{{ url_for('link.link', link_id=link.id) }}">
            <ul>
                <li>{{ link['comment'] }}</li>
                <li>Still Available? {{ link['is_available'] }}</li>
                <li>Created At: {{ link['created_at'] }}</li>
            </ul>
            </a>
        </li>
        {% endfor %}
    </ol>
{% endblock %}
