{% extends 'base.html' %}

{% block content %}
    <script>
      function confirm_delete(form) {
        var r = confirm("Are you sure?");
        if (r == true) {
          document.forms["delete_link"].submit();
        }
      }
    </script>
<ul>
    <li><b>Original URL: {{ link['original_url'] }}</b></li>
    <li>Unique URL: {{ link['unique_id'] }}</li>
    <li>Visits Allowed: {{ link['visits_allowed'] }}</li>
    <li>Visits Used: {{ link['visits_used'] }}</li>
    <li>Is Still Available? {{ link['is_available'] }}</li>
    <li>Created At: {{ link['created_at'] }}</li>
</ul>
<span class="badge badge-primary">{{ link['created'] }}</span>

<form method="post" action="{{ url_for('link.delete') }}" name="delete_link">
    {{ form.csrf_token }}
    {{ form.link_id(value=link['id']) }}
    <a onclick="window.history.back();" class="btn btn-link" role="button">Back</a>
    <a onclick="confirm_delete();" class="btn btn-danger" role="button">Delete</a>
</form>
{% endblock %}
